@import "./variables.scss";

.activity-card {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 200px;
  border-radius: 6.9px;
}

.title-and-button {
  display: flex;
}

.activity-card-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 0 16px;
  flex: 1;
}

.activity-card-subheadline {
  font-size: 12px;
  color: #ffffffcb;
  margin-left: 16px;
  letter-spacing: 0px;
}

.activity-card-empty-space {
  flex: 1;
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 10px 10px;
}

.stopwatch-time {
  flex: 1;
  color: #ffffffcb;
  margin-left: 5px;
}

.stopwatch-progress-bar {
  padding-top: 5px; // ?
  margin-top: 2px;
  border-radius: 6px;
  background: white;
  color: white;
}

.black-text {
  color: $text-color;
}

.white-text {
  color: white;
}

.activity-card-empty-bottom-space {
  height: 48px;
}

// card menu interface
.activity-card-menu.activity-card-empty-space {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  color: $text-color;
}

.activity-card-menu > div {
  text-align: center;
  width: 69px;
}

.activity-card-menu > div:hover {
  cursor: pointer;
  // border: 2px solid $text-color;
  box-shadow: 0 0 0 2px $text-color;
  border-radius: 5px;
  text-align: center;
  width: 69px;
}
