.card-type-select-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 380px;
}

.card-type-select-dialog-content > div {
  border: 1px solid #d4d4d4;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 8px;
  background: #fafafa;
}

.card-type-select-dialog-content > div > div {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
}
.time-tracking-activity {
}

.check-off-activity {
}

.count-activity {
}

.cardType-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  background: red;
}

.cardType-text {
  flex: 13;
}

.cardType-title {
  font-weight: bold;
  font-size: 17px;
}

.cardType-subtitle {
  margin-top: 4px;
  font-size: 14px;
}
.cardType-icon {
  flex: 2;
}
.cardType-endIcon {
  flex: 1;
}
