@import "./variables.scss";

// style

.color-table {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  margin-left: 5px;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
}

// colors
.brown-black {
  color: $brown-black;
}
.carribean-blue {
  color: $carribean-blue;
}
.orange {
  color: $orange;
}
.orange-yellow {
  color: $orange-yellow;
}
.pink {
  color: $pink;
}
.pink-red {
  color: $pink-red;
}
.red {
  color: $red;
}
.pink-purple {
  color: $pink-purple;
}
.purple {
  color: $purple;
}
.deep-ocean-blue {
  color: $deep-ocean-blue;
}
.ocean-blue {
  color: $ocean-blue;
}
.blue-green {
  color: $blue-green;
}
.green {
  color: $green;
}
.skin-color {
  color: $skin-color;
}
.brown {
  color: $brown;
}
.black {
  color: $black;
}

// background-color
.background-brown-black {
  background-color: $brown-black;
}
.background-carribean-blue {
  background-color: $carribean-blue;
}
.background-orange {
  background-color: $orange;
}
.background-orange-yellow {
  background-color: $orange-yellow;
}
.background-pink {
  background-color: $pink;
}
.background-pink-red {
  background-color: $pink-red;
}
.background-red {
  background-color: $red;
}
.background-pink-purple {
  background-color: $pink-purple;
}
.background-purple {
  background-color: $purple;
}
.background-deep-ocean-blue {
  background-color: $deep-ocean-blue;
}
.background-ocean-blue {
  background-color: $ocean-blue;
}
.background-blue-green {
  background-color: $blue-green;
}
.background-green {
  background-color: $green;
}
.background-skin-color {
  background-color: $skin-color;
}
.background-brown {
  background-color: $brown;
}
.background-black {
  background-color: $black;
}

// light-background-color
.light-background-brown-black {
  background-color: $light-brown-black;
}
.light-background-carribean-blue {
  background-color: $light-carribean-blue;
}
.light-background-orange {
  background-color: $light-orange;
}
.light-background-orange-yellow {
  background-color: $light-orange-yellow;
}
.light-background-pink {
  background-color: $light-pink;
}
.light-background-pink-red {
  background-color: $light-pink-red;
}
.light-background-red {
  background-color: $light-red;
}
.light-background-pink-purple {
  background-color: $light-pink-purple;
}
.light-background-purple {
  background-color: $light-purple;
}
.light-background-deep-ocean-blue {
  background-color: $light-deep-ocean-blue;
}
.light-background-ocean-blue {
  background-color: $light-ocean-blue;
}
.light-background-blue-green {
  background-color: $light-blue-green;
}
.light-background-green {
  background-color: $light-green;
}
.light-background-skin-color {
  background-color: $light-skin-color;
}
.light-background-brown {
  background-color: $light-brown;
}
.light-background-black {
  background-color: $light-black;
}
