// colors
$neutral-gray: #f2f4f3;
$text-color: #505150;
$green: #79b201;
$blue: #0194c7;
$yellow: #ed9f01;

$brown-black: #47435c;
$carribean-blue: #0194c7;
$orange: #f3752b;
$orange-yellow: #ed9f01;
$pink: #ea638c;
$pink-red: #db5462;
$red: #c43c54;
$pink-purple: #842161;
$purple: #5d2e8c;
$deep-ocean-blue: #264e71;
$ocean-blue: #296db4;
$blue-green: #1c948b;
$green: #79b201;
$skin-color: #cd8e59;
$brown: #694a38;
$black: #292b28;
