// colors
$neutral-gray: #f2f4f3;
$text-color: #505150;
$green: #79b201;
$blue: #0194c7;
$yellow: #ed9f01;

$brown-black: #47435c;
$carribean-blue: #0194c7;
$orange: #f3752b;
$orange-yellow: #ed9f01;
$pink: #ea638c;
$pink-red: #db5462;
$red: #c43c54;
$pink-purple: #842161;
$purple: #5d2e8c;
$deep-ocean-blue: #264e71;
$ocean-blue: #296db4;
$blue-green: #1c948b;
$green: #79b201;
$skin-color: #cd8e59;
$brown: #694a38;
$black: #292b28;

// transparent effect
// $light-brown-black: lighten(#47435c, 40%);
// $light-carribean-blue: lighten(#0194c7, 40%);
// $light-orange: lighten(#f3752b, 40%);
// $light-orange-yellow: lighten(#ed9f01, 40%);
// $light-pink: lighten(#ea638c, 40%);
// $light-pink-red: lighten(#db5462, 40%);
// $light-red: lighten(#c43c54, 40%);
// $light-pink-purple: lighten(#842161, 40%);
// $light-purple: lighten(#5d2e8c, 40%);
// $light-deep-ocean-blue: lighten(#264e71, 40%);
// $light-ocean-blue: lighten(#296db4, 40%);
// $light-blue-green: lighten(#1c948b, 40%);
// $light-green: lighten(#79b201, 40%);
// $light-skin-color: lighten(#cd8e59, 40%);
// $light-brown: lighten(#694a38, 40%);
// $light-black: lighten(#292b28, 40%);

$light-brown-black: #d7d7db;
$light-carribean-blue: #cceaf4;
$light-orange: #fde3d6;
$light-orange-yellow: #fbeccb;
$light-pink: #fbe0e7;
$light-pink-red: #f7ddde;
$light-red: #efdadf;
$light-pink-purple: #e7d2df;
$light-purple: #ded5e8;
$light-deep-ocean-blue: #c8d2d7;
$light-ocean-blue: #d4e2ef;
$light-blue-green: #d3e9e7;
$light-green: #e4f0cc;
$light-skin-color: #f5e8df;
$light-brown: #e0dbd7;
$light-black: #d5d5d5;
